@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  /* Un blanc cassé avec une pointe de vert pour la douceur */
  --background: #f7faf7;
  /* Ton noir fétiche pour le texte pour un rappel constant */
  --foreground: #141717;
  /* Un vert un peu plus profond pour l'accessibilité sur fond blanc */
  --accent: #5fa905;
  /* Gris-vert très clair pour les fonds de cartes/boutons secondaires */
  --muted: #eef2ee;
  /* Bordure subtile */
  --border: #dbe3db;
}

html[data-theme="dark"] {
  /* Ton noir froid officiel */
  --background: #1a2417;
  /* Un blanc bleuté/glacé pour une lecture parfaite sans éblouissement */
  --foreground: #f0f4f4;
  /* Ton vert électrique #95ec38 */
  --accent: #95ec38;
  /* Une nuance plus claire que le fond pour les éléments secondaires */
  --muted: #1e2323;
  /* Un gris-vert sombre pour les séparations */
  --border: #2d3535;
}


@theme inline {
  --font-app: "Exo 2", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

body {
  font-family: var(--font-app);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-app text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

@utility app-layout {
  @apply mx-auto w-full max-w-app px-4;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
