---
import CommentsList from "./CommentsList.astro";
import CommentsForm from './CommentsForm.astro';
interface Props {
  postSlug: string;
}

const { postSlug } = Astro.props;
---

<div class="comments-section mb-10">
  <h1 class="inline-block text-2xl font-bold text-accent sm:text-3xl">Commentaires</h1>
  <div server:defer>
    <CommentsForm postSlug={postSlug} />
    <CommentsList postSlug={postSlug} server:defer> 
      <p slot="fallback">Chargement des commentaires...</p>
    </CommentsList>
  </div>
</div>